body {
    background-color: #47c489;
    width: 75%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.2em;
    color: white;
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: auto;
    display: flex;
}


/*Cabecera*/

.cabeza {
    background-color: #2fa86f;
    height: 80px;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px red;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Estilo para efecto en el titulo */
}

.titulo {
    font-size: 1.4em;
    color: gainsboro;
}

nav {
    float: auto;
}

nav ul {
    list-style: none;
    padding-top: 15px;
}

nav ul li {
    display: inline-block;
    padding-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-top: 20px;
}

nav ul li a:hover {
    color: violet;
}

.introduccion p {
    text-align: justify;
}

aside {
    padding: 20px;
}

.bloques_covid {
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    text-align: justify;
}

article {
    padding: 20px;
}

.bloques_educacion {
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: justify;
}

.bloques_vd {
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: justify;
}

.bloques {
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    display: -webkit-flex;
    /*Para safari*/
    display: -ms-flexbox;
    /*Para Explore, no funciona en una version*/
}

footer {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.titulo_izq {
    text-align: left;
}