body {
    background-color: #008080;
    width: 75%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3 {
    font-size: 1.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7FFFD4;
    padding-top: 10px;
}


/*Cabecera*/

.cabeza {
    background-color: #008B8B;
    height: 120px;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #66CDAA;
    display: block;
    margin: auto;
    /* Estilo para efecto en el titulo */
}

.titulo {
    font-size: 2.48em;
    color: #F0FFF0;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

.sub {
    font-size: 1.48em;
    padding-top: 1em;
    color: #F0FFFF;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

nav {
    float: auto;
    display: block;
}

nav ul {
    list-style: none;
    padding-top: 15px;
}

nav ul li {
    display: inline-block;
    padding-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-top: 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: blue;
}

.introduccion {
    background-color: #008B8B;
}

.introduccion p {
    text-align: justify;
    width: 60%;
    display: block;
    margin: auto;
}

.introduccion iframe {
    display: block;
    margin: auto;
    padding-top: 3em;
}

aside {
    padding: 20px;
}

.bloques_covid {
    background-color: #008B8B;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.bloques_covid img {
    width: auto;
    height: auto;
    display: block;
    padding-left: 2em;
}

article {
    padding: 20px;
}

.bloques_educacion {
    background-color: #008B8B;
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.bloques_educacion img {
    width: auto;
    height: auto;
    display: block;
    padding-left: 2em;
}

.problemas {
    background-color: #008B8B;
}

.problemas p {
    text-align: justify;
    width: 60%;
    display: block;
    margin: auto;
}

.bloques_vd {
    background-color: #008B8B;
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.bloques_vd li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7FFFD4;
    text-decoration: none;
    font-size: 0.8em;
    padding-top: 10px;
    text-transform: uppercase;
}

.tools {
    background-color: #008B8B;
}

.bloques_herramientas {
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    display: -webkit-flex;
    /*Para safari*/
    display: -ms-flexbox;
    /*Para Explore, no funciona en una version*/
}

footer {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.titulo_izq {
    text-align: left;
    font-size: 1.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
}

h3 {
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #8FBC8F;
}

a:hover {
    text-decoration: none;
    color: cadetblue;
    font-size: 1.1em;
    width: 50%;
}

ol {
    list-style: none;
    padding-top: 15px;
}

ol li {
    display: block;
    padding-right: 20px;
    margin-top: 1em;
}

ol li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-top: 20px;
    text-transform: uppercase;
}

.bloques_finales {
    clear: both;
    width: auto;
    padding-top: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.data {
    padding-top: 2.5em;
    color: white;
    text-align: right;
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}